* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: darkslategray;
    color: white;
    height: 80px;
    line-height: 80px;
}
header h3 {
    float: left;
}
header a {
    color: white;
}
#s1 {
    background-color: lightseagreen;
    color: white;
    text-align: center;
}
#s1 img {
    width: 200px;
}
#s2 {
    text-align: center;
}
#s2 img {
    width: 100%;
}
#s3 {
    background-color: lightseagreen;
    color: white;
}
#s3 h2, #s3 button {
    text-align: center;
}
#s4 h2 {
    text-align: center;
}
#s4 input{
    width: 100%;
}
#s5 {
    background-color: rgb(58,84,109);
    color: white;
}
footer {
    background-color: darkslategray;
    color: white;
    height: 80px;
}