section {
    padding: 30px 0;
}
.navbar-my-theme {
    background-color: darkslategrey;
    margin-bottom: 0;
    border-radius: 0;
}
/* dovevo modificare anche gli hover di bootstrap per la nav */
.navbar-my-theme a {
    color: white;
}
/* potevo mettere text-white nelle classi dell'anchor e del button */
.navbar-my-theme button {
    border-color: white;
    color: white;
}
.text-white {
    color: white;
}
.text-center {
    text-align: center;
}
#avatar {
    width: 200px;
}
#img-section img {
    width: 100%;
    margin-bottom: 30px;
    border-radius: 10px;
}
.star-interline {
    font-size: 30px;
}
.starline {
    display: inline-block;
    height: 4px;
    width: 100px;
    transform: translateY(-300%);
    /* position relative non va ¯\_(ツ)_/¯ */
    border-radius: 2px;
    background-color: black;
    /* per accorciarla a seconda della vw o uso una max-width percentuale o faccio una media query */
}
.bg-white {
    background-color: white;
}
.bg-green {
    background-color: lightseagreen;
}
.bg-blue {
    background-color: rgb(58,84,109);
}
.bg-grey {
    background-color: darkslategray;
}
.form-my-theme{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
}
.high {
    height: 50px;
}
.my-b1 {
    color: white;
    background-color: transparent;
    border-color: white;
    margin-top: 30px;
}
/* anche qui potevo mettere text-white per risparmiare righe */
.my-b2 {
    color: white;
    background-color: lightseagreen;
    border-color: transparent;
    margin-top: 10px;
}
.anchor-btn {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
}
.anchor-btn img {
    width: 20px;
}
.text-green {
    color: lightseagreen;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}
.add-margin-bot {
    margin-bottom: 30px;
}