* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body > * {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
section {
    padding: 30px 0;
}
header {
    background-color: darkslategray;
    color: white;
    height: 80px;
    line-height: 80px;
}
header a {
    color: white;
}
#s1 {
    background-color: lightseagreen;
    color: white;
}
#s1 img {
    width: 200px;
}
#s2 img {
    width: 100%;
    margin-bottom: 30px;
}
#s3 {
    background-color: lightseagreen;
    color: white;
}
#s4 input{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
}
#s5 {
    background-color: rgb(58,84,109);
    color: white;
}
footer {
    background-color: darkslategray;
    color: white;
    height: 80px;
    line-height: 80px;
}