body > * {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
section {
    padding: 30px 0;
}
.navbar-my-theme {
    background-color: darkslategrey;
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-my-theme a {
    color: white;
}
.navbar-my-theme button {
    border-color: white;
}
.navbar-my-theme .icon-bar {
    border-color: white;
}
#s1 {
    background-color: lightseagreen;
    color: white;
}
#s1 img {
    width: 200px;
}
#s2 img {
    width: 100%;
    margin-bottom: 30px;
}
#s3 {
    background-color: lightseagreen;
    color: white;
}
#s4 input{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
}
footer {
    background-color: darkslategray;
    color: white;
}
#s5 {
    background-color: rgb(58,84,109);
}
#s6 {
    height: 80px;
    line-height: 80px;
}